/*menu*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.logo {
  height: 95px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.auth {
  display: flex;
  align-items: center;
  gap: 15px;
}

.auth .btn {
  padding: 5px 10px;
  border: 3px solid #0437F2;
  color: #0437F2;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
}
/*banniere*/

.banniere img{
    width: 100%;
    height: 600px;
    display: block;
}
.banniere{
    position: relative;
    width: 100%;display: block;
}
.texte-sur-image{
    position: absolute;
    bottom: -100px;
    right: 30px;
    background-color: #0437f2;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    font-size: 20px;
    line-height: 1.5;
}

/*section texte et image à droite*/
.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 30px;
}
.texte{
    flex: 2;
    font-style: normal;
    font-size: 25px;
    align-items: center;
    word-spacing: 5px;
}
.image img{
    width: 450px;
    height: 320px;
    border-radius: 10px;
}

/*titre et colonne*/

.colonne{
    width: 50%;
}
h2{
    text-align: center;
    font-weight: bold;
}
ul{
    list-style-type: disc;
    padding-left: 20px;
}
.bloc{
   display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 30px; 
    height: 400px;
    overflow-y: auto;
}
.btn{
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
    border-color: #0437f2;
    padding: 10px;
    color: #0437f2;
    text-decoration: none;
    font-weight: bold;
}
.center-btn{
    text-align: center;
}

/*compteur statistique*/

.stats-section{
    background-image: url('https://i.imgur.com/AeCXmUv.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px;
    color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.stat h3{
    font-size: 32px;
}
.stat p{
    margin: 5px
}

/*pied de page*/
.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #f5f5f5;
  font-family: sans-serif;
}

.footer-section {
  width: 22%;
}

.footer-section h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 6px;
}

.footer-section input {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 8px;
}

.footer-section button {
  background-color: #0437F2;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.footer a{
  text-decoration: none;
  color: black;
}
.footer a:hover{
  color: #0437F2;
  transition: auto;
}